<!-- Header -->
<div class="header" id="header">
  <div class="container">
    <a href="#" class="logo">Template</a>
    <ul class="main-nav">
      <li><a href="Home">Home</a></li>
      <li><a href="Contach">Gallery</a></li>
      <li><a href="Features">Features</a></li>
      <li>
        <a href="#">Other Links</a>
        <!-- Start Mega-Menu -->
        <!-- <div class="mega-menu">
          <div class="image">
            <img src="../../../../assets/images/megamenu.png" alt="">
          </div>
          <ul class="links">
            <li>
              <a href="#"><i class="far fa-comments fa-fw"></i> Testimonials</a>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#"><i class="far fa-comments fa-fw"></i> Testimonials</a>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#"><i class="far fa-comments fa-fw"></i> Testimonials</a>
            </li>
          </ul>
        </div> -->
      </li>
    </ul>
  </div>
</div>
<!-- End Header -->