<!-- Header -->
<div class="header" [class.is-sticky]="(hasScrolledBanner)">
  <div class="container">
    <a href="#" class="logo">Books</a>
    <ul class="main-nav">
      <li><a href="Home">Home</a></li>
      <li><a href="Contach">Gallery</a></li>
      <li><a href="Features">Features</a></li>
      <li>
        <a href="#">Other Links</a>
        <!-- Start Mega-Menu -->
        <div class="mega-menu">
          <div class="overlay">

          </div>
          <div class="discovery">
            <span> neque necessitatibus, molestiae illo nihil modi error et ipsum suscipit aperiam!</span>
            <span>atur porro culpa ad sint!</span>
          </div>
        
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- End Header -->