<div class="home-continer">
    <!-- Landing Component -->
    <app-langing></app-langing>

    <!-- Main articles -->
    <div class="articles" id="articles">
        <h2 class="main-title"> Articles </h2>
        <div class="container">
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/cat-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icone="search"></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Gallary -->
    <div class="gallery" id="gallery">
        <h2 class="main-title">Gallary</h2>
        <div class="container">
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../../../../assets/images/gallery-01.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End Gallary -->

    <!-- Start Feature -->
    <div class="feature">
        <h2 class="main-title">
            Feature
        </h2>
        <div class="container">
            <div class="box quality">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img src="../../../../assets/images/features-01.jpg" alt="">
                </div>
                <h2>Quality</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde dolorum molestiae eligendi</p>
                <a href="">More</a>
            </div>
        </div>
    </div>
    <!-- End Feature -->
    <!-- Start Team -->
    <div class="team">
        <div class="container">
            <div class="box">
                <div class="data">
                    <img src="../../../../assets/images/team-01.jpg" alt="">
                </div>
                <div class="social">      
                </div>
                <div class="info">
                    <h3>Name</h3>
                    <p>Simple short description</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->
</div>