<div class="home-continer">
    <!-- Landing Component -->
    <div class="landing">
        <app-langing></app-langing>
    </div>
    <!-- learning -->
    <div class="learning" id="learning">
        <h2 class="main-title ">Learn and Develop Yourself form <strong>Books</strong> website</h2>
        <div class="container">
            <div class="box">
                <img src="../../../../assets/images/learn-01.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/learn-02.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/learn-03.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/learn-03.jpg" alt="">
                <div class="content">
                    <h3>Test Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam aliquam,</p>
                </div>
                <div class="info">
                    <a href="#">Read More</a>
                    <fa-icon icon="chevron-right"></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <!-- Start discover -->
    <div class="discover">
        <h2 class="discover-title">Discover More</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-9 mb-lg-0">
                    <img src="../../../../assets/images/events.png" alt="">
                </div>
                <div class="col-lg-5 mt-5">
                    <div class="mb-4">
                        <h3 style="font-size: 30px; font-weight: bold;">Collaborative tools to design user experience
                        </h3>
                        <p>We help businesses bring ideas to life in the digital world, by designing and implementing
                            the technology tools that
                            they need to win.</p>
                        <ul>
                            <li style="list-style: none;">
                                <fa-icon icon="check" style="margin-right: 10px;"></fa-icon>
                                <span>Less routine – more creativity</span>
                            </li>
                            <li style="list-style: none;">
                                <fa-icon icon="check" style="margin-right: 10px;"></fa-icon>
                                <span>Hundreds of thousands saved</span>
                            </li>
                            <li style="list-style: none;">
                                <fa-icon icon="check" style="margin-right: 10px;"></fa-icon>
                                <span>Scale budgets efficiently</span>
                            </li>
                        </ul>
                        <button class="btn btn-primary">Get Started</button>
                        <hr class="my-5">
                    </div>
                </div>
            </div>

            <div class="form">
            </div>
        </div>
    </div>
    <!-- End discover -->
    <div class="statistics">
        <h2 class="discover-title">Statistics</h2>
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-down" icon="arrow-down"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-up" icon="arrow-up"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-up" icon="arrow-up"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>