<div class="home-continer">
    <!-- Landing Component -->
    <div class="landing">
        <app-langing></app-langing>
    </div>
    <!-- learning -->
    <div class="learning" id="learning">
        <h2 class="main-title ">Learn and Develop Yourself form <strong>Books</strong> website</h2>
        <div class="container">
            <div class="row mb-5 mb-md-0">
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="box">
                        <img src="../../../../assets/images/learn-01.jpg" alt="">
                        <div class="content">
                            <h3>Books</h3>
                            <p>Books App is an easier way to search.</p>
                            <ul class="mt-3">
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <a href="#">Read More</a>
                            <fa-icon icon="chevron-right"></fa-icon>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="box">
                        <img src="../../../../assets/images/learn-02.jpg" alt="">
                        <div class="content">
                            <h3>Books</h3>
                            <p>Books App is an easier way to search.</p>
                            <ul class="mt-3">
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <a href="#">Read More</a>
                            <fa-icon icon="chevron-right"></fa-icon>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-sm-6 col-lg-4">
                    <div class="box">
                        <img src="../../../../assets/images/learn-03.jpg" alt="">
                        <div class="content">
                            <h3>Books</h3>
                            <p>Books App is an easier way to search.</p>
                            <ul class="mt-3">
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                                <li>
                                    <fa-icon icon="angle-right"></fa-icon>
                                    <span>Advanced Analytics</span>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <a href="#">Read More</a>
                            <fa-icon icon="chevron-right"></fa-icon>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
            </div>




        </div>
    </div>

    <!-- Start discover -->
    <div class="discover">
        <h2 class="discover-title">Discover More</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-9 mb-lg-0">
                    <img src="../../../../assets/images/books/landing.png" alt="">
                </div>
                <div class="col-lg-5 mt-5">
                    <div class="mb-4">
                        <h3 style="font-size: 30px; font-weight: bold;">Collaborative tools to design user experience
                        </h3>
                        <p>We help businesses bring ideas to life in the digital world, by designing and implementing
                            the technology tools that
                            they need to win.</p>
                        <ul>
                            <li>
                                <fa-icon icon="check"></fa-icon>
                                <span>Less routine – more creativity</span>
                            </li>
                            <li>
                                <fa-icon icon="check"></fa-icon>
                                <span>Hundreds of thousands saved</span>
                            </li>
                            <li>
                                <fa-icon icon="check"></fa-icon>
                                <span>Scale budgets efficiently</span>
                            </li>
                        </ul>
                        <button class="btn btn-primary">Get Started</button>
                        <hr class="my-5">
                    </div>
                </div>
            </div>

            <div class="form">
            </div>
        </div>
    </div>
    <!-- End discover -->
    <div class="statistics">
        <h2 class="discover-title">Statistics</h2>
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-down" icon="arrow-down"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-up" icon="arrow-up"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="text-center">
                        <h2 class="percentage">
                            <fa-icon class="arrow-up" icon="arrow-up"></fa-icon>
                            40%
                        </h2>
                        <p>fewer meetings across <br>
                            organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start offers -->
    <div class="offers">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0 mt-5">
                    <div class="card bg-img-start">
                        <div class="card-body">
                            <h3 class="card-title">$109.99</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <a href="#" class="btn btn-light">Shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="card bg-img-end">
                    <div class="card-body">
                        <h3 class="card-title">70% OFF</h3>
                        <p>Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-light">Shop</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cards -->
</div>