.main-title,
.discover-title {
  margin: 0px auto 80px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.learning {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.learning .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}
.learning .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.learning .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.learning .box .content {
  padding: 20px;
}
.learning .box .content h3 {
  margin: 0;
}
.learning .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.learning .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learning .box .info a,
fa-icon {
  color: #2196f3;
  font-weight: bold;
  text-decoration: none;
}
.learning .box img {
  width: 100%;
  max-width: 100%;
  height: 40%;
}
.learning .box:hover .info fa-icon {
  animation: moving-arrow 0.6s linear infinite;
}
/* Start */
.discover {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #f2f6fc;
}
.discover .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.discover .container .info {
  flex: 1;
}
.discover img {
  min-width: 450px;
}
@media (max-width: 991px) {
  .discover img {
    display: none;
  }
}
.discover-title {
  color: #2196f3;
  font-weight: bold;
}
.discover .container .form {
  width: 100%;
  margin-top: 50px;
}
.btn-primary {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-size: 18px;
}
hr {
  margin: 1rem 0;
  color: rgba(33, 50, 91, 0.1);
  background-color: currentColor;
  border: 0;
  opacity: 1;
}
span {
  font-size: 25px;
  color: #677788;
}
p {
  color: #677788;
  font-size: 20px;
}
/* End */
/* Start Statistics */
.statistics {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #f2f6fc; */
}
.statistics .container {
}
.arrow-down {
  color: #ed4c78;
}
.arrow-up {
  color: #00c9a7;
}
.percentage {
  font-weight: 700;
  font-size: 50px;
}
/* End */
/* animation */
@keyframes let-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* End animation */
