.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: rgb(33, 50, 91);
  color: white;
}
.list-inline-item {
  position: relative;
  margin-left: 0;
  margin-right: -0.25rem;
  list-style: none;
  padding-right: 2rem;
}
.list-separator .list-inline-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "/";
  opacity: 0.4;
}
a {
  text-decoration: none;
  color: white;
}
.border-top {
  color: red !important;
}
