<!-- Landing -->
<div class="landing">
    <div class="container">
        <div class="get-started">
            <h1>Welcome, to Template</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolorum culpa laudantium quas.</p>
            <div class="buttons">
                <button class="btn btn-primary">Get Started</button>
                <span>Learn More</span>
                <fa-icon icon="chevron-right"></fa-icon>
            </div>
        </div>
        <div class="image">
            <img src="../../../../../assets/images/Innovation-pana.svg" alt="">
        </div>
    </div>
    <!-- SHAPE -->
    <!-- <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor" />
            </svg>
        </div>
    </div> -->
    <!-- <a href="#" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a> -->
</div>