@import url("~bootstrap/dist/css/bootstrap.css");
@import url("assets/styles/normalize.css");

/* -------------------------------------------------------------------------- */
/*                                Global Layout                               */
/* -------------------------------------------------------------------------- */
/* #Start */
body {
  font-size: 14px;
  font-family: "Raleway" sans-serif;
  margin: 0;
}
